@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* --------------------------------------------------------- */
/* Base para todas las secciones */
.contenedor {
  width: 90%;
  max-width: 1200px;
  padding: 100px 0;
  margin: 0 auto;
  overflow: hidden;
}

.titulo {
  color: var(--color-title);
  text-align: var(--align-title);
  font-size: 2.5rem;
}

.titulo--border::after {
  content: "";
  display: block;
  width: 150px;
  margin-top: 20px;
  height: 6px;
  background: #444CF7;
}

/* Variables para Header */
/* Header */
header {
  width: 100%;
  background-color: #AF7AC5;
  box-shadow: 2px 2px 4px #8082a5;
  top: 0;
  left: 0;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  z-index: 1;
  transition: all 500ms ease-in-out;
}
header header.transparente nav a {
  color: white;
}
header .header__imagen {
  height: 60px;
  width: auto;
}

.transparente {
  background-color: transparent;
  box-shadow: none;
}

header nav a {
  color: black;
  font-weight: normal;
  margin-left: 1rem;
  transition: 300ms ease-in-out all;
}

header.transparente nav a {
  color: black;
  font-weight: bold;
}

header nav a.activo,
header nav a:hover {
  color: #FFF;
  font-weight: bold;
}

header.transparente nav a.activo,
header.transparente nav a:hover {
  color: red;
  font-weight: bold;
}

.primera {
  margin-top: 100vh;
}

/* Boton burger (Hamburguesa) */
#burger {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 10;
  display: none;
}

#burger .barra {
  width: 30px;
  height: 2px;
  margin: 6px;
  background-color: black;
  transition: 500ms all ease-in-out;
}

#burger.abierto .barra {
  background-color: white;
}

#burger.abierto .barra.superior {
  transform: translateY(8px) rotateZ(45deg);
}

#burger.abierto .barra.media {
  width: 0;
}

#burger.abierto .barra.inferior {
  transform: translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 820px) {
  #burger {
    display: block;
  }
  header {
    justify-content: flex-end;
  }
  header nav {
    display: none;
  }
}
/* Menu lateral */
.menu {
  width: 100vw;
  height: 100vh;
  background-color: #AF7AC5;
  position: fixed;
  top: 0;
  left: -100vw;
  padding-top: 80px;
  transition: all 700ms ease-in-out;
  z-index: 9;
  text-align: center;
}

.menu.abierto {
  left: 0;
}

.menu nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.menu nav a {
  padding: 0.6rem 0;
  color: black;
  font-size: 1.1rem;
  transition: 500ms ease-in-out all;
}

.menu nav a:hover {
  color: #fff;
}

.menu .copyright {
  color: #fff;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

#pr {
  display: block;
  margin-top: -80px;
  padding-bottom: 80px;
}

/* ------------------------------------------------------- */
.hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.hero .hero__item {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  animation: heroAnimation 18s infinite;
}
.hero .hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: none;
  width: 30%;
  height: auto;
}
.hero .hero-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: none;
  height: auto;
}

.hero div:nth-child(1) {
  background-image: url("../img/muebles-uno.jpg");
}

.hero div:nth-child(2) {
  background-image: url("../img/muebles-dos.jpg");
  animation-delay: 6s;
}

.hero div:nth-child(3) {
  background-image: url("../img/muebles-tres.jpg");
  animation-delay: 12s;
}

/* Animacion */
@keyframes heroAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in-out;
  }
  12% {
    opacity: 1;
  }
  25% {
    transform: scale(1.2);
  }
  75% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 720px) {
  .hero .hero-logo {
    width: 60%;
  }
  .hero .hero .hero-down {
    /* width: 15%; */
  }
}
@media (max-width: 400px) {
  .hero .hero-logo {
    width: 80%;
  }
  .hero .hero .hero-down {
    /* width: 15%; */
  }
}
/* Nosotros */
.contenedor__nosotros {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  place-items: center;
  margin-top: 1000px;
}
.contenedor__nosotros .nosotros__cuerpo {
  width: 90%;
}
.contenedor__nosotros .nosotros__cuerpo .nosotros__parrafo {
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 300;
}
.contenedor__nosotros .nosotros__cuerpo .cta {
  display: inline-block;
  color: var(--text-btn);
  background-color: var(--color-btn);
  padding: var(--padding-btn);
  border-radius: var(--border-btn);
  text-align: center;
}
.contenedor__nosotros .nosotros__cuerpo .cta:hover {
  display: inline-block;
  color: gold;
  background-color: var(--color-btn);
  padding: var(--padding-btn);
  border-radius: var(--border-btn);
  text-align: center;
}
.contenedor__nosotros .nosotros__figura {
  text-align: center;
}
.contenedor__nosotros .nosotros__figura .nosotros__imagen {
  width: 95%;
}

/* Equipo */
.contenedor__equipo {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  place-items: center;
}
.contenedor__equipo .equipo__cuerpo {
  width: 90%;
}
.contenedor__equipo .equipo__cuerpo .equipo__parrafo {
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 300;
}
.contenedor__equipo .equipo__cuerpo .cta {
  display: inline-block;
  color: var(--text-btn);
  background-color: var(--color-btn);
  padding: var(--padding-btn);
  border-radius: var(--border-btn);
  text-align: center;
}
.contenedor__equipo .equipo__cuerpo .cta:hover {
  display: inline-block;
  color: gold;
  background-color: var(--color-btn);
  padding: var(--padding-btn);
  border-radius: var(--border-btn);
  text-align: center;
}
.contenedor__equipo .equipo__figura {
  text-align: center;
}
.contenedor__equipo .equipo__figura .equipo__imagen {
  width: 95%;
}

/* Servicios */
.contenedor__servicios {
  width: 99%;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: ".     card1 .    " "card2 card1 card3" "card2 card4 card3" ".     card4 .    ";
}
.contenedor__servicios .contenedor__item {
  padding: 20px;
  background-color: #fff;
  border: 5px solid #667eea;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor__servicios .contenedor__item .servicios__figura {
  background-color: var(--color-primary);
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor__servicios .contenedor__item .titulo__servicios {
  margin: 20px 0;
  font-size: 1.5rem;
}
.contenedor__servicios .contenedor__item .parrafo__servicios {
  font-weight: 300;
  margin-bottom: 20px;
}

.contenedor__item:nth-last-of-type(1) {
  grid-area: card1;
}

.contenedor__item:nth-last-of-type(2) {
  grid-area: card2;
}

.contenedor__item:nth-last-of-type(3) {
  grid-area: card3;
}

.contenedor__item:nth-last-of-type(4) {
  grid-area: card4;
}

/* Contacto */
.contenedor__contacto {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  place-items: center;
}
.contenedor__contacto .contacto__figura {
  text-align: center;
}
.contenedor__contacto .contacto__figura .contacto__imagen {
  width: 95%;
}
.contenedor__contacto .contacto__cuerpo {
  width: 90%;
}

/* Footer */
footer {
  position: relative;
}

.footer__contenedor::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}

.footer__contenedor {
  width: 100%;
  background-color: #AF7AC5;
}
.footer__contenedor .grupo__uno {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}
.footer__contenedor .grupo__uno .box ul li {
  margin-bottom: 15px;
}
.footer__contenedor .grupo__uno .box ul li a {
  color: black;
}
.footer__contenedor .grupo__uno .box ul li a:hover {
  color: #E5E7E9;
}
.footer__contenedor .grupo__uno .box ul li p {
  margin-bottom: 15px;
}
.footer__contenedor .grupo__uno .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: bolder;
}
.footer__contenedor .grupo__uno .box p {
  color: black;
  margin-bottom: 10px;
}
.footer__contenedor .grupo__uno .footer__red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: black;
  margin-right: 10px;
  background-color: #9B59B6;
  text-align: center;
  transition: all 300ms ease-in-out;
}
.footer__contenedor .grupo__uno .footer__red-social a:hover {
  color: #C39BD3;
}
.footer__contenedor .grupo__dos {
  background-color: #76448A;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.footer__contenedor .grupo__dos small {
  font-size: 15px;
}

@media (max-width: 800px) {
  .footer__contenedor .grupo__uno {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
}
@media (max-width: 500px) {
  .footer__contenedor .grupo__uno {
    width: 98%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 15px 0;
  }
  .footer__contenedor::before {
    display: none;
  }
}
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

:root {
  --color-primary: #444CF7;
  --color-title: #000;
  --align-title: left;
  --color-btn: #444CF7;
  --text-btn: #fff;
  --padding-btn: 20px 35px;
  --border-btn: 5px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #67666e;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.col-100 {
  width: 100%;
  padding: 0.5rem 1rem;
}

.col-75 {
  width: 70%;
  padding: 0.5rem 1rem;
}

.col-66 {
  width: 66.6666%;
  padding: 0.5rem 1rem;
}

.col-50 {
  width: 50%;
  padding: 0.5rem 1rem;
}

.col-33 {
  width: 33.3333%;
  padding: 0.5rem 1rem;
}

.col-25 {
  width: 25%;
  padding: 0.5rem 1rem;
}

/*  *******************************************************
    *******************************************************
    *******************************************************
    *******************************************************


/* RESPONSIVE PARA TODOS LOS DISPOSITIVOS */
/* Responsive para Movil */
@media screen and (max-width: 550px) {
  :root {
    --padding-btn: 20px 0;
  }
  html {
    font-size: 18px;
  }
  .contenedor {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
  .titulo {
    font-size: 2rem;
  }
  .cta {
    display: block;
  }
  /* Nosotros */
  .contenedor__nosotros {
    gap: 40px;
  }
  .contenedor__nosotros .nosotros__cuerpo {
    width: 100%;
  }
  /* Equipo */
  .contenedor__equipo {
    gap: 40px;
  }
  .contenedor__equipo .equipo__cuerpo {
    width: 100%;
  }
  .contenedor__servicios {
    width: 97% !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, 1fr) !important;
    grid-template-areas: "card1" "card2" "card3" "card4" !important;
  }
  .col-100,
.col-75,
.col-66,
.col-50,
.col-33,
.col-25 {
    width: 100% !important;
  }
}
/* Responsive para tablet */
@media screen and (max-width: 765px) {
  .contenedor {
    flex-direction: row;
    padding: 1rem 0.5rem;
  }
  /* Nosotros */
  .contenedor__nosotros {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 80px;
  }
  .contenedor__nosotros .nosotros__cuerpo {
    width: 100%;
  }
  .contenedor__nosotros .nosotros__figura {
    order: 1;
  }
  .contenedor__nosotros .nosotros__figura .nosotros__imagen {
    width: 100%;
  }
  /* Especializacion productos */
  .fila {
    flex-direction: column;
  }
  /* Equipo */
  .contenedor__equipo {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 80px;
  }
  .contenedor__equipo .equipo__cuerpo {
    width: 100%;
  }
  .contenedor__equipo .equipo__imagen {
    width: 100%;
  }
  /* Contacto */
  .contenedor__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 80px;
    margin-bottom: 2.5rem;
  }
  .contenedor__contacto .contacto__cuerpo {
    width: 100%;
  }
  .contenedor__contacto .contacto__figura {
    order: 1;
  }
  .contenedor__contacto .contacto__figura .contacto__imagen {
    width: 100%;
  }
  /* Servicios */
  .contenedor__servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    grid-template-areas: "card1 .    " "card1 card2" "card3 card2" "card3 card4" ".     card4";
  }
  .titulo__producto {
    margin-top: 80px;
  }
}
/* ---------------------------------------------------------------------------------------------- */
/* PRODUCTOS - TIENDA  */
.titulo__producto {
  font-size: 2.5rem;
  font-weight: bolder;
}

.card-precio {
  color: gold;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.card:hover {
  background-color: lightblue;
  opacity: 0.4;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-2%);
  border-radius: 15px;
  overflow: hidden;
  transition-duration: 1000ms;
  border-bottom: 10px solid rgb(8, 160, 211);
}

.fila {
  display: flex;
  padding: 2rem 1rem;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Parallax */
.fila.parallax {
  background-image: url("../img/muebles-dos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3rem 2rem;
  margin-bottom: 80px;
}

.fila.parallax div {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
}

.fila.parallax div p {
  font-size: 1.5rem;
  color: blue;
  text-align: center;
  font-weight: bold;
}

/* CAja de navegacion de productos */
.caja-nav img {
  width: 20%;
  margin-bottom: 1em;
}

.caja-nav a {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  cursor: pointer;
  transition: all ease-in-out 500ms;
  font-weight: bold;
}

.caja-nav a:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=estilos.css.map */
