


/* Footer */

footer{
    position: relative;    
}

.footer__contenedor::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    clip-path: polygon(0 0,100% 0, 50% 100%);
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}

.footer__contenedor{
    width: 100%;
    background-color: #AF7AC5;
    .grupo__uno{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
        padding: 45px 0;
        .box{
            ul{
                li{
                    margin-bottom: 15px;
                    a{
                        color: black;
                    }

                    a:hover{
                        color: #E5E7E9;
                    }
                    p{
                        margin-bottom: 15px;
                    }
                }
            } 

            h2{
                color: black;
                margin-bottom: 25px ;
                font-size: 1.5rem;
                font-weight: bolder;
            }

            p{
                color: black;
                margin-bottom: 10px;
            }
        }
        .footer__red-social{ 
            a{
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 45px;
            color: black;
            margin-right: 10px;
            background-color: #9B59B6;
            text-align: center;
            transition: all 300ms ease-in-out;
            }

            a:hover{
                color: #C39BD3;
            }
        }
    }


    .grupo__dos{
        background-color: #76448A;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
        small{
            font-size: 15px;
        }
    }


}




@media (max-width:800px){
    .footer__contenedor{
        .grupo__uno{
            width: 90%;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 35px 0;
            
        }
    }
}

@media (max-width:500px){
    .footer__contenedor{
        .grupo__uno{
            width: 98%;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 15px 0;
            
        }
    }

    .footer__contenedor::before{
        display: none;
    }
}