
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* Reseteo */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}


:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --border-btn: 5px;
}


body{
    font-family: 'Roboto', sans-serif;
    color: #67666e;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}

a{
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;    
}

.col-100{
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75{
    width: 70%;
    padding: 0.5rem 1rem;

}

.col-66{
    width: 66.6666%;
    padding: 0.5rem 1rem;

}

.col-50{
    width: 50%;
    padding: 0.5rem 1rem;

}

.col-33{
    width: 33.3333%;
    padding: 0.5rem 1rem;
}


.col-25{
    width: 25%;
    padding: 0.5rem 1rem;

}


@media (max-width: 440px){
    html{
        font-size: 18px;
    }
}
