@use 'base';
@use 'header';
@use 'hero';
@use 'nosotros';
@use 'equipo';
@use 'servicios';
@use 'contacto';
@use 'footer';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



/* Reseteo */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}


:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --border-btn: 5px;
}


body{
    font-family: 'Roboto', sans-serif;
    color: #67666e;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}

a{
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;    
}

.col-100{
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75{
    width: 70%;
    padding: 0.5rem 1rem;

}

.col-66{
    width: 66.6666%;
    padding: 0.5rem 1rem;

}

.col-50{
    width: 50%;
    padding: 0.5rem 1rem;

}

.col-33{
    width: 33.3333%;
    padding: 0.5rem 1rem;
}


.col-25{
    width: 25%;
    padding: 0.5rem 1rem;

}


@media (max-width: 440px){
    html{
        font-size: 18px;
    }
}

/*  *******************************************************
    *******************************************************
    *******************************************************
    *******************************************************


/* RESPONSIVE PARA TODOS LOS DISPOSITIVOS */

/* Responsive para Mobil */

@media (max-width: 500px){
    :root{
        --padding-btn: 20px 0;
    }

    .contenedor{
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .titulo{
        font-size: 2rem;
    }

    .cta{
        display: block;
    }

    /* Nosotros */

    .contenedor__nosotros{
        gap: 40px;

        .nosotros__cuerpo{
            width: 100%;
        }
    }


    /* Equipo */

    .contenedor__equipo{
        gap: 40px;

        .equipo__cuerpo{
            width: 100%;
        }
    }


    
    .contenedor__servicios{
        width: 97%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4";
    }

    .col-100,
    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25{
        width: 100%;
    }


}

/* Responsive para tablet */
@media (max-width: 700px){
    .contenedor{
        flex-direction: row;
        padding: 1rem 0.5rem;
    }

    /* Nosotros */

    .contenedor__nosotros{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
        .nosotros__cuerpo{
            width: 100%;         
        }

        .nosotros__figura{
            order: 1;       
            .nosotros__imagen{
                width: 100%;
            }
        }
    }

    


    /* Equipo */

    .contenedor__equipo{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
        
        .equipo__cuerpo{
            width: 100%;
        }

        .equipo__imagen{
            width: 100%;
        }
    }




    /* Contacto */

    .contenedor__contacto{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
        margin-bottom: 2.5rem;
        .contacto__cuerpo{
            width: 100%;
        }

        .contacto__figura{
            order: 1;
            .contacto__imagen{
                width: 100%;
            }
        }
    }



    /* Servicios */

    .contenedor__servicios{       
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 15px;
        grid-template-areas: 
        "card1  .    "
        "card1  card2"
        "card3  card2"
        "card3  card4"
        ".      card4";
    }
    
}


/* ---------------------------------------------------------------------------------------------- */



/* PRODUCTOS - TIENDA  */

.titulo__producto{
    font-size: 2.5rem;
}