@use 'base';
@use 'header';
@use 'hero';
@use 'nosotros';
@use 'equipo';
@use 'servicios';
@use 'contacto';
@use 'footer';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



/* Reseteo */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}


:root{
    --color-primary: #444CF7;
    --color-title: #000;
    --align-title: left;
    --color-btn: #444CF7;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --border-btn: 5px;
}


body{
    font-family: 'Roboto', sans-serif;
    color: #67666e;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}

a{
    text-decoration: none !important;
    cursor: pointer !important;
    color: inherit;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;    
}

.col-100{
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-75{
    width: 70%;
    padding: 0.5rem 1rem;

}

.col-66{
    width: 66.6666%;
    padding: 0.5rem 1rem;

}

.col-50{
    width: 50%;
    padding: 0.5rem 1rem;

}

.col-33{
    width: 33.3333%;
    padding: 0.5rem 1rem;
}


.col-25{
    width: 25%;
    padding: 0.5rem 1rem;

}


/*  *******************************************************
    *******************************************************
    *******************************************************
    *******************************************************


/* RESPONSIVE PARA TODOS LOS DISPOSITIVOS */

/* Responsive para Movil */

@media screen and (max-width:550px){
    :root{
        --padding-btn: 20px 0;
    }

    html{
        font-size: 18px;
    }

    .contenedor{
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .titulo{
        font-size: 2rem;
    }

    .cta{
        display: block;
    }

    /* Nosotros */

    .contenedor__nosotros{
        gap: 40px;

        .nosotros__cuerpo{
            width: 100%;
        }
    }


    /* Equipo */

    .contenedor__equipo{
        gap: 40px;

        .equipo__cuerpo{
            width: 100%;
        }
    }


    
    .contenedor__servicios{
        width: 97% !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4,1fr) !important;
        grid-template-areas: 
        "card1"
        "card2"
        "card3" 
        "card4" !important;
    }

    .col-100,
    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25{
        width: 100% !important;
    }


}



/* Responsive para tablet */
@media screen and (max-width:765px){
    .contenedor{
        flex-direction: row;
        padding: 1rem 0.5rem;
    }

    /* Nosotros */

    .contenedor__nosotros{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
        .nosotros__cuerpo{
            width: 100%;         
        }

        .nosotros__figura{
            order: 1;       
            .nosotros__imagen{
                width: 100%;
            }
        }
    }

    /* Especializacion productos */

    .fila{
        flex-direction: column;
    }


    /* Equipo */

    .contenedor__equipo{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
        
        .equipo__cuerpo{
            width: 100%;
        }

        .equipo__imagen{
            width: 100%;
        }
    }




    /* Contacto */

    .contenedor__contacto{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
        margin-bottom: 2.5rem;
        .contacto__cuerpo{
            width: 100%;
        }

        .contacto__figura{
            order: 1;
            .contacto__imagen{
                width: 100%;
            }
        }
    }



    /* Servicios */

    .contenedor__servicios{       
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 15px;
        grid-template-areas: 
        "card1 .    "
        "card1 card2"
        "card3 card2"
        "card3 card4"
        ".     card4";
    }
    

    .titulo__producto{
        margin-top: 80px;
    }
}


/* ---------------------------------------------------------------------------------------------- */



/* PRODUCTOS - TIENDA  */

.titulo__producto{
    font-size: 2.5rem;
    font-weight: bolder;
}


.card-precio{
        color: gold;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
}

.card:hover{
    background-color: lightblue;
    opacity: 0.4;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
    border-radius: 15px;
    overflow: hidden;
    transition-duration: 1000ms;
    border-bottom: 10px solid rgb(8, 160, 211);

}


.fila{
    display: flex;
    padding: 2rem 1rem;

}



.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Parallax */

.fila.parallax{
    background-image: url("../img/muebles-dos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 2rem;
    margin-bottom: 80px;
}

.fila.parallax div{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;

}

.fila.parallax div p{
    font-size: 1.5rem;
    color: blue;
    text-align: center;
    font-weight: bold;
}


/* CAja de navegacion de productos */

.caja-nav img{
    width: 20%;
    margin-bottom: 1em;


}


.caja-nav a{
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 500ms;
    font-weight: bold;
}

.caja-nav a:hover{
    background-color: white;
    color: black;
}